// Start
@import "utils/vars"
@import "utils/root"
@import "utils/mixins"
@import "utils/fonts"

// Bootstrap
// @import "vendors/bootstrap-4-stylus/mediaPrint"
// @import "vendors/bootstrap-4-stylus/main"
// @import "vendors/bootstrap-4-stylus/fonts"
// @import "vendors/bootstrap-4-stylus/display"
// @import "vendors/bootstrap-4-stylus/taxonomy"
// @import "vendors/bootstrap-4-stylus/container"
// @import "vendors/bootstrap-4-stylus/container-fluid"
// @import "vendors/bootstrap-4-stylus/row"
// @import "vendors/bootstrap-4-stylus/noGutters"
// @import "vendors/bootstrap-4-stylus/col"
// @import "vendors/bootstrap-4-stylus/offset"
// @import "vendors/bootstrap-4-stylus/order"
// @import "vendors/bootstrap-4-stylus/table"
// @import "vendors/bootstrap-4-stylus/formControl"

// @import "vendors/bootstrap-4-stylus/btn"
// @import "vendors/bootstrap-4-stylus/btnPrimary"
// @import "vendors/bootstrap-4-stylus/btnSecondary"
// @import "vendors/bootstrap-4-stylus/btnSuccess"
// @import "vendors/bootstrap-4-stylus/btnInfo"
// @import "vendors/bootstrap-4-stylus/btnWarning"
// @import "vendors/bootstrap-4-stylus/btnDanger"
// @import "vendors/bootstrap-4-stylus/btnLight"
// @import "vendors/bootstrap-4-stylus/btnDark"
// @import "vendors/bootstrap-4-stylus/btnOutlinePrimary"
// @import "vendors/bootstrap-4-stylus/btnOutlineSecondary"
// @import "vendors/bootstrap-4-stylus/btnOutlineSuccess"
// @import "vendors/bootstrap-4-stylus/btnOutlineInfo"
// @import "vendors/bootstrap-4-stylus/btnOutlineWarning"
// @import "vendors/bootstrap-4-stylus/btnOutlineDanger"
// @import "vendors/bootstrap-4-stylus/btnOutlineLight"
// @import "vendors/bootstrap-4-stylus/btnOutlineDark"
// @import "vendors/bootstrap-4-stylus/btnLink"
// @import "vendors/bootstrap-4-stylus/btnDrop"
// @import "vendors/bootstrap-4-stylus/btnGroup"
// @import "vendors/bootstrap-4-stylus/btnMsc"

// @import "vendors/bootstrap-4-stylus/input"
// @import "vendors/bootstrap-4-stylus/custom"
// @import "vendors/bootstrap-4-stylus/nav"
// @import "vendors/bootstrap-4-stylus/card"
// @import "vendors/bootstrap-4-stylus/breadcrumb"
// @import "vendors/bootstrap-4-stylus/pagination"
// @import "vendors/bootstrap-4-stylus/badge"
// @import "vendors/bootstrap-4-stylus/jumbotron"
// @import "vendors/bootstrap-4-stylus/alert"
// @import "vendors/bootstrap-4-stylus/progress"
// @import "vendors/bootstrap-4-stylus/media"
// @import "vendors/bootstrap-4-stylus/listGroup"
// @import "vendors/bootstrap-4-stylus/close"
// @import "vendors/bootstrap-4-stylus/modal"
// @import "vendors/bootstrap-4-stylus/tooltip"
// @import "vendors/bootstrap-4-stylus/popover"
// @import "vendors/bootstrap-4-stylus/carousel"
// @import "vendors/bootstrap-4-stylus/align"
// @import "vendors/bootstrap-4-stylus/bg"
// @import "vendors/bootstrap-4-stylus/border"
// @import "vendors/bootstrap-4-stylus/rounded"
// @import "vendors/bootstrap-4-stylus/d"
// @import "vendors/bootstrap-4-stylus/embed"
// @import "vendors/bootstrap-4-stylus/flex"
// @import "vendors/bootstrap-4-stylus/justify"
// @import "vendors/bootstrap-4-stylus/alignItem"
// @import "vendors/bootstrap-4-stylus/alignContent"
// @import "vendors/bootstrap-4-stylus/alignSelf"
// @import "vendors/bootstrap-4-stylus/float"
// @import "vendors/bootstrap-4-stylus/position"
// @import "vendors/bootstrap-4-stylus/helpers/widthHeightHelper"
// @import "vendors/bootstrap-4-stylus/helpers/marginHelper"
// @import "vendors/bootstrap-4-stylus/helpers/paddingHelper"
// @import "vendors/bootstrap-4-stylus/text"
// @import "vendors/bootstrap-4-stylus/visible"

// Vendor libs
@import "vendors/owl.carousel/owl.carousel"

// Layout
@import "layout/layout"

//Модули
@import "modules/modules"
@import "modules/small-blocks/small-blocks"

// Components
@import "components/components"

// Sections
@import "sections/index-slider"
@import "sections/index-about-us"
@import "sections/index-services"
@import "sections/index-history"
@import "sections/index-team"

// Pages