extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-slider-page'

block content
	//- include ../sections/index-slider
	//- include ../sections/index-about-us
	//- include ../sections/index-services
	//- include ../sections/index-history
	include ../sections/index-team