.blog-intro
    background-image url('../images/content/blog-intro-bg.jpg')
    background-repeat no-repeat
    background-size cover
    background-position center
    padding-top 110px
    padding-bottom 120px
    text-align center
    .general-main-title
        padding-bottom 15px
        margin-bottom 30px
        &:after
            margin-right 55px
            margin-left 55px

.blog-intro__link
    color #ffffff
    font-size 14px
    font-family $font-family-CT

.blog-intro__symbol
    display inline-block
    margin-right 6px
    margin-left 6px
    color #ffffff

