.services
    background-image url("../../static/images/content/services-bg.jpg")
    background-repeat no-repeat
    background-size cover
    background-position center
    padding-top 66px
    padding-bottom 80px
    text-align center

.services__text
    margin-top 20px
    margin-bottom 35px
    text-align center
    padding 0 30px

    @media(min-width $grid-sm)
        margin-top 40px
        margin-bottom 65px

    @media(min-width $grid-xl)
        padding 0 250px

.services-items
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap

.services__item
    margin-top 20px
    &:first-child
        margin-top 0

    @media(min-width $grid-lg)
        width 49%
        margin-top 20px
        &:first-child
            margin-top 20px

    @media(min-width $grid-xl)
        width 23%

.services__fieldset
    border 2px solid #898989
    padding 40px 20px 30px

.services__fieldset-legend
    padding-right 18px
    padding-left 18px

.services__item-title
    font-size 14px
    font-family $font-family-MT
    color rgb(216, 216, 216)
    line-height 1.3
    margin-bottom 30px

.services__item-text
    font-size 14px
    color rgb(216, 216, 216)
    line-height 1.4







