// Colors
$white = #fff
$black = #000
$gray-100 = #f8f9fa
$gray-200 = #e9ecef
$gray-300 = #dee2e6
$gray-400 = #ced4da
$gray-500 = #adb5bd
$gray-600 = #868e96
$gray-700 = #495057
$gray-800 = #343a40
$gray-900 = #212529

$blue = #00AEEF
$darkBlue = #142152

$primary = #f10b67
$primaryHov = darken($primary, 15%)
$primaryBtnHov = darken($primary, 15%)

$secondary = $blue
$secondaryHov = darken($blue, 15%)
$secondaryBtnHov = darken($blue, 15%)

$success = #28a745
$successHov = #1e7e34
$successBtnHov = #218838

$danger = #dc3545
$dangerHov = #bd2130
$dangerBtnHov = #c82333

$bodyColor = #202238
$bodyBackground = $white

$linkColor = $secondary
$linkHoverColor = $secondaryHov


// Grid
$grid-se = 321px
$grid-s5 = 361px
$grid-iphone6 = 376px
$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px
$grid-xl = 1200px
$grid-xxl = 1600px

$grid-xs-max = (576px - 0.02px)
$grid-sm-max = (768px - 0.02px)
$grid-md-max = (992px - 0.02px)
$grid-lg-max = (1200px - 0.02px)
$grid-xl-max = (1600px - 0.02px)

$container-sm = 540px
$container-md = 720px
$container-lg = 960px
$container-xl = 1140px
$container-xxl = 1340px

$line-height-base = 1.428
$line-height-lg = $line-height-base
$line-height-sm = $line-height-base

$border-width = 1px
$border-color = $gray-200

$border-radius = .25rem
$border-radius-lg = .3rem
$border-radius-sm = .2rem


// Fonts
$fz-base = 1rem
$fz-xxl = 1.25rem
$fz-sm = .875rem

$font-weight-light = 300
$font-weight-normal = normal
$font-weight-bold = 700

$font-family-base = Roboto, Arial, Helvetica, sans-serif
$font-family-monospace = "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace


$font-family-MS = Montserrat, sans-serif
$font-family-CT = "Crimson Text", serif
$font-family-AR = AmsdamRegular, serif
$font-family-A = Amsdam, serif

// font-family: 'Montserrat', sans-serif;
// font-family: 'Crimson Text', serif;


// Headings
$h1-font-size = 2.5rem
$h2-font-size = 2rem
$h3-font-size = 1.75rem
$h4-font-size = 1.5rem
$h5-font-size = 1.25rem
$h6-font-size = $font-size-base

$headings-margin-bottom  = .5rem
$headings-font-family = inherit
$headings-font-weight = 700
$headings-line-height  = 1.25
$headings-color = inherit