section.blog-masonry
    .container
        .blog-masonry__inner.masonry-items
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-1.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-4.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-7.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-2.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-5.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-8.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-3.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-6.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
            .masonry-item
                img.img-resposive(src="static/images/content/masonry-9.png", alt="")

                h3.masonry-item-title
                    | Donec id lobortis tellus.
                    br
                    | Maecenas vel dignissim
                span.masonry-item-suptitle By Admin / 07 October 2015

                .masonry-item__statistics
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-commen.png", alt="")
                    span.masonry-item__statistics-count 95
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-view.png", alt="")
                    span.masonry-item__statistics-count 567
                    img.masonry-item__statistics-img(src="static/images/content/masonry-icon-basket.png", alt="")
                    span.masonry-item__statistics-count Branding

                .masonry-item__text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis

                .general-btn-link Read More
