section.blog-intro
    .container
        .general-main-title MASONRY BLOG
        .blog-intro__links
            a.blog-intro__link(href="#") Home
            p.blog-intro__symbol &#62;
            a.blog-intro__link(href="#") Blog