section.blog
    .container
        .blog__inner
            .blog__title.general-title-black blog
            .blog__text.general-text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.

    .blog-row-wrapper
        .blog-row.images-row
            .images-row__block
                .images-row__block-image
                    img.images-row__block-img(src="static/images/content/blog-img-1.jpg", alt="")
                .images-row__block-wrap
                    img.images-row__block-img(src="static/images/content/blog-img-black.jpg", alt="")
                    .images-row__block-descr.img-descr
                        .img-data 14 Aug 2015 / By Admin
                        .img-title Donec id lobortis tellus Maecenas.
                        .img-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            .images-row__block
                .images-row__block-image
                    img.images-row__block-img(src="static/images/content/blog-img-2.jpg", alt="")
                .images-row__block-wrap
                    img.images-row__block-img(src="static/images/content/blog-img-brown.jpg", alt="")
                    .images-row__block-descr.img-descr
                        .img-data 14 Aug 2015 / By Admin
                        .img-title Donec id lobortis tellus Maecenas.
                        .img-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
        .blog-row.images-row
            .images-row__block
                .images-row__block-wrap
                    img.images-row__block-img(src="static/images/content/blog-img-black.jpg", alt="")
                    .images-row__block-descr.img-descr
                        .img-data 14 Aug 2015 / By Admin
                        .img-title Donec id lobortis tellus Maecenas.
                        .img-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .images-row__block-image
                    img.images-row__block-img(src="static/images/content/blog-img-3.jpg", alt="")
            .images-row__block
                .images-row__block-wrap
                    img.images-row__block-img(src="static/images/content/blog-img-brown.jpg", alt="")
                    .images-row__block-descr.img-descr
                        .img-data 14 Aug 2015 / By Admin
                        .img-title Donec id lobortis tellus Maecenas.
                        .img-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .images-row__block-image
                    img.images-row__block-img(src="static/images/content/blog-img-4.jpg", alt="")
