section.portfolio
    .container
        .portfolio__inner
            .portfolio__title.general-title-black PORTFOLIO
            .portfolio__text.general-text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.

            .portfolio__tabs
                .portfolio__tabs-nav.tabs-nav
                    .tabs-nav__item.general-btn-link.is-active(data-tab-name='tab-1') all
                    .tabs-nav__item.general-btn-link(data-tab-name='tab-2') WEBSITE
                    .tabs-nav__item.general-btn-link(data-tab-name='tab-3') BROCHURES
                    .tabs-nav__item.general-btn-link(data-tab-name='tab-4') LOGOS

                .portfolio__tabs-content.tab-1.is-active
                    .portfolio__tabs-content-inner
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-1.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-2.jpg", alt="")
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-3.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-4.jpg", alt="")
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-5.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-6.jpg", alt="")
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-7.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-8.jpg", alt="")
                .portfolio__tabs-content.tab-2
                    .portfolio__tabs-content-inner
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-1.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-2.jpg", alt="")
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-3.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-4.jpg", alt="")
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-5.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-6.jpg", alt="")
                .portfolio__tabs-content.tab-3
                    .portfolio__tabs-content-inner
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-5.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-6.jpg", alt="")
                        .portfolio__tabs-content-col1
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-7.jpg", alt="")
                            img.portfolio__tabs-content-img(src="static/images/content/portfolio-8.jpg", alt="")
                .portfolio__tabs-content.tab-4 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, perspiciatis sequi! Nulla dolores voluptate minima vel dolorem exercitationem! Nihil ipsam repellendus impedit in aperiam aliquam, odit dolor praesentium nulla optio itaque explicabo soluta tempore, et ex atque! At omnis beatae quibusdam nam possimus neque harum ex illum id, rem nihil?