section.index-slider
    .container
        .index-slider-items-wrapper
            .index-slider__items
                .index-slider__item
                    .index-slider__suptitle Design Studio and Digital Agency
                    .index-slider__title WE ARE ATLANTIDA111
                    button.index-slider__btn.general-form__button(type="submit") Get Started
                .index-slider__item
                    .index-slider__suptitle Design Studio and Digital Agency
                    .index-slider__title WE ARE ATLANTIDA222
                    button.index-slider__btn.general-form__button(type="submit") Get Started
                .index-slider__item
                    .index-slider__suptitle Design Studio and Digital Agency
                    .index-slider__title WE ARE ATLANTIDA333
                    button.index-slider__btn.general-form__button(type="submit") Get Started

            //- button.slick-btn.slick-prev(type="button")
            //-     +icon('angle-left','slick-btn-icon-prev')
            //-         img.slick-btn-icon-prev(src="../../static/images/svg/angle-left.svg", alt="")
            //- button.slick-btn.slick-next(type="button")
            //-     +icon('angle-right','slick-btn-icon-next')
            //-         img.slick-btn-icon-next(src="../../static/images/svg/angle-right.svg", alt="")

