section.about-us
    .container
        .about-us__inner
            .about-us__top-block
                .about-us__top-block-inner
                    .about-us__top-block-img
                        img.about-us__top-block-image(src="../../static/images/content/about-us-top-image.jpg", alt="")
                    .about-us__top-block-descr
                        .general-title-black ABOUT US
                        p.general-text Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque. Maecenas est enim, sollicitudin sit amet nisi vel, mattis efficitur sapien. Nulla lobortis dui in aliquam placerat. Maecenas commodo odio nec neque imperdiet sagittis. Fusce mauris tellus, vulputate id finibus a, rutrum et justo. Vivamus at eros sed justo laoreet mattis vulputate vel magna. Sed quis pulvinar quam, et tempus purus. Fusce et nisi eget dui hendrerit iaculis. Cras volutpat augue tempor viverra tincidunt. Maecenas interdum scelerisque enim. Aenean interdum leo ac lectus gravida, id tincidunt sem finibus. Curabitur ac arcu blandit, tempus leo id, ultrices ante.
                        a.about-us__btn-link.general-btn-link(href="#") Contact Us
                        a.about-us__btn-link.general-btn-link(href="#") Portfolio
            .about-us__bottom-block
                .awards
                    .awards__item
                        .awards__item-icon
                            img(src="../../static/images/content/awards-1.png", alt="")
                        .awards__item-name AWARDS
                            |
                            br
                            | WINNER
                        .awards__item-count 54
                    .awards__item
                        .awards__item-icon
                            img(src="../../static/images/content/awards-2.png", alt="")
                        .awards__item-name JOBS
                            |
                            br
                            | DONE
                        .awards__item-count 1054
                    .awards__item
                        .awards__item-icon
                            img(src="../../static/images/content/awards-3.png", alt="")
                        .awards__item-name HAPPY
                            |
                            br
                            | CLIENTS
                        .awards__item-count 120
                    .awards__item
                        .awards__item-icon
                            img(src="../../static/images/content/awards-4.png", alt="")
                        .awards__item-name reviews
                            |
                            br
                            | recieved
                        .awards__item-count 54