section.clients
    .container
        .clients__inner
            .clients__title.general-title-black clients
            .clients__text.general-text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.

            .clients__images
                img.clients__img(src="static/images/content/clients-1.png", alt="")
                img.clients__img(src="static/images/content/clients-2.png", alt="")
                img.clients__img(src="static/images/content/clients-3.png", alt="")
                img.clients__img(src="static/images/content/clients-4.png", alt="")
                img.clients__img(src="static/images/content/clients-5.png", alt="")