section.history
    .container
        .history__inner
            .history__title.general-title-black HISTORY
            .history__text.general-text In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet.

            .chronology-year.chronology-year-2015 2015
            .chronology-year.chronology-year-2014 2014
            .history__chronology
                .history__chronology-item
                    .history__chronology-item-title Donec id lobortis tellus. Maecenas vel dignissim
                    span.history__chronology-item-data 07 October 2015
                    .history__chronology-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .history__chronology-item.top-171
                    .history__chronology-item-title Nam tincidunt, lacus sit amet ultrices
                    span.history__chronology-item-data 05 June 2015
                    .history__chronology-item-text In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. Donec quis faucibus lorem.
                .history__chronology-item.top-156
                    .history__chronology-item-title Donec quis faucibus lorem
                    span.history__chronology-item-data 07 May 2015
                    .history__chronology-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .history__chronology-item.top-327
                    .history__chronology-item-title Nunc efficitur laoreet turpis sed auctor.
                    span.history__chronology-item-data 02 April 2015
                    .history__chronology-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    .history__chronology-item-text.margin-top-15 Praesent id augue in risus molestie euismod molestie id augue. Suspendisse a libero porttitor, lobortis eros ac, varius velit. Praesent sed eros at elit suscipit laoreet vitae condimentum risus.
                .history__chronology-item.top-195
                    .history__chronology-item-title Donec id lobortis tellus. Maecenas vel dignissim
                    span.history__chronology-item-data 07 October 2015
                    .history__chronology-item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .history__chronology-item.top-366
                    .history__chronology-item-title Nam tincidunt, lacus sit amet ultrices
                    span.history__chronology-item-data 05 June 2015
                    .history__chronology-item-text In pulvinar, mi at rhoncus condimentum, turpis nisl scelerisque turpis, ut gravida eros tortor non arcu. In eget arcu ante. Curabitur lacinia ultricies ante, eget mattis orci vestibulum sit amet. Donec quis faucibus lorem.
            .chronology-year.chronology-year--icon
                img(src="../../static/images/content/history.png", alt="")