.section.services
    .container
        .services__inner
            .services__title.general-title-white SERVICES
            .services__text.general-text.white Donec aliquet, ipsum ut lobortis facilisis, nisi ligula aliquam odio, ut vehicula odio lorem in erat. Quisque quam ipsum, commodo non condimentum a, fermentum id sapien. Pellentesque sit amet sem neque.
            .services-items
                .services__item
                    fieldset.services__fieldset
                        legend
                            img.services__fieldset-legend(src="../../static/images/content/services-item-icon-1.png", alt="")
                        h4.services__item-title GRAPHIC
                            |
                            br
                            |DESIGN
                        p.services__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .services__item
                    fieldset.services__fieldset
                        legend
                            img.services__fieldset-legend(src="../../static/images/content/services-item-icon-2.png", alt="")
                        h4.services__item-title WEBSITE
                            |
                            br
                            |DESIGN
                        p.services__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .services__item
                    fieldset.services__fieldset
                        legend
                            img.services__fieldset-legend(src="../../static/images/content/services-item-icon-3.png", alt="")
                        h4.services__item-title SEO &amp;
                            |
                            br
                            |ANALITYCS
                        p.services__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                .services__item
                    fieldset.services__fieldset
                        legend
                            img.services__fieldset-legend(src="../../static/images/content/services-item-icon-4.png", alt="")
                        h4.services__item-title WORDPRESS
                            |
                            br
                            |PROGRAMING
                        p.services__item-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.