section.team
    .container
        .team__inner
            .team__title.general-title-black OUR TEAM
            .team__text.general-text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.
            .team-info
                .team-info__item
                    .team-info__item-image
                        img.team-info__item-img(src="../../static/images/content/team-info-1.jpg", alt="")
                    .team-info__item-descr
                        .team-info__item-descr-inner
                            .team-info__item-name Jilia Smith
                            .team-info__item-proff Designer
                            .team-info__item-social.general-icons
                                ul.general-icons__list.flex-start
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('facebook','general-icons__icon')
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('twitter','general-icons__icon')
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('behance','general-icons__icon')
                .team-info__item
                    .team-info__item-image
                        img.team-info__item-img(src="../../static/images/content/team-info-2.jpg", alt="")
                    .team-info__item-descr
                        .team-info__item-descr-inner
                            .team-info__item-name Jilia Smith
                            .team-info__item-proff Designer
                            .team-info__item-social.general-icons
                                ul.general-icons__list.flex-start
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('facebook','general-icons__icon')
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('twitter','general-icons__icon')
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('behance','general-icons__icon')
                .team-info__item
                    .team-info__item-image
                        img.team-info__item-img(src="../../static/images/content/team-info-3.jpg", alt="")
                    .team-info__item-descr
                        .team-info__item-descr-inner
                            .team-info__item-name Jilia Smith
                            .team-info__item-proff Designer
                            .team-info__item-social.general-icons
                                ul.general-icons__list.flex-start
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('facebook','general-icons__icon')
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('twitter','general-icons__icon')
                                    li.general-icons__item
                                        a(href="#").general-icons__link
                                            +icon('behance','general-icons__icon')
