section.quality
    .container
        .quality__inner
            img.quality__img(src="static/images/content/quality-img.png", alt="")
            .quality__descr
                .quality__title Looking for a quality and affordable for your next project ?
                .quality__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
            .quality__btn.general-btn-link Purchase