section.prices
    .container
        .prices__inner
            .prices__title.general-title-black Prices
            .prices__text.general-text Nullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus. Phasellus iaculis ultricies duiNullam lobortis, turpis lobortis placerat vehicula, ipsum lacus bibendum dolor, sit amet pretium odio magna eget risus.

            .prices__items
                .prices__item
                    .prices__item-title BASIC
                    .prices__item-icon
                        img(src="static/images/content/prices-icon-1.png", alt="")
                    .prices__item-cost 10
                    .prices__item-text
                        | Full Access
                        br
                        | Unlimited Edition
                        br
                        | Full Backup
                        br
                        | Free Tea and Free Mockup
                        br
                        | Several Prices
                    .general-btn-link Sign Up
                .prices__item
                    .prices__item-title BASIC
                    .prices__item-icon
                        img(src="static/images/content/prices-icon-2.png", alt="")
                    .prices__item-cost 20
                    .prices__item-text
                        | Full Access
                        br
                        | Unlimited Edition
                        br
                        | Full Backup
                        br
                        | Free Tea and Free Mockup
                        br
                        | Several Prices
                    .general-btn-link Sign Up
                .prices__item
                    .prices__item-title BASIC
                    .prices__item-icon
                        img(src="static/images/content/prices-icon-3.png", alt="")
                    .prices__item-cost 30
                    .prices__item-text
                        | Full Access
                        br
                        | Unlimited Edition
                        br
                        | Full Backup
                        br
                        | Free Tea and Free Mockup
                        br
                        | Several Prices
                    .general-btn-link Sign Up
