section.map
    .container
        .map__inner
            .map__logo-wrapper
                .map__logo
                    .map__logo-border
                        +icon('logo-icon','logo__icon-svg')