section.comments
    .container
        .comments__inner.comments-slider
            .comments-slider__item
                .comments-slider__item-image
                    img.comments-slider__item-author-photo(src="static/images/content/comments-img.png", alt="")

                .comments-slider__item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .comments-slider__item-author-name ALEXANDR PODVALNY
                .comments-slider__item-author-company Free-PSD-Template.com Company
            .comments-slider__item
                .comments-slider__item-image
                    img.comments-slider__item-author-photo(src="static/images/content/comments-img.png", alt="")

                .comments-slider__item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .comments-slider__item-author-name ALEXANDR PODVALNY
                .comments-slider__item-author-company Free-PSD-Template.com Company
            .comments-slider__item
                .comments-slider__item-image
                    img.comments-slider__item-author-photo(src="static/images/content/comments-img.png", alt="")

                .comments-slider__item-comment Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu libero ut erat sodales finibus sed in dolor. Etiam iaculis, nibh a lobortis egestas, est urna sodales
                .comments-slider__item-author-name ALEXANDR PODVALNY
                .comments-slider__item-author-company Free-PSD-Template.com Company
