footer.footer
    .container
        .footer__logo.logo
            .logo__wrapper.flex-start
                .logo__icon
                    a.logo__icon-svg(href="#")
                        +icon('logo-icon','logo__icon-svg')
                .logo__name
                    a.logo__name-link(href="#") ATLANTIDA
        .footer__main-blocks
            .footer__left-side
                p.footer__left-side-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed ipsum pulvinar, consequat ipsum non, sodales augue. Donec dapibus ipsum rutrum congue egestas. Curabitur fringilla tortor non aliquam congue. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
                h2.footer__left-side-title ATLANTIDA STUDIO
                p.footer__left-side-text Steven Bernson, Attorney at Law
                    br
                    |1556 Broadway, suite 416
                    br
                    |New York, NY, 10120, USA
                h2.footer__left-side-title
                    |E-mail: elegantflyers@gmail.com
                    br
                    |+84 956 654 972
                .footer__icons.general-icons
                    ul.general-icons__list.flex-start
                        li.general-icons__item
                            a(href="#").general-icons__link
                                +icon('facebook','general-icons__icon')
                        li.general-icons__item
                            a(href="#").general-icons__link
                                +icon('twitter','general-icons__icon')
                        li.general-icons__item
                            a(href="#").general-icons__link
                                +icon('behance','general-icons__icon')
            .footer__right-side
                form.footer__form.general-form
                    input.general-form__input(type="text" placeholder="Name*")
                    input.general-form__input(type="email" placeholder="E-mail*")
                    input.general-form__input(type="tel" placeholder="Telephone*")
                    input.general-form__input(type="url" placeholder="Website")
                    textarea.general-form__textarea(name="", cols="30", rows="10" placeholder="Message")
                    button.general-form__button(type="submit") submit
        .footer__copy
            p.footer__copy-info Copyright © 2015 Atlantida Theme